<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Wechaty</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>

    <nav>
      <span><a title="主页" href="/index">主页</a></span>
    </nav>
  </body>
</html>
